/** @format */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: "Nexa-Bold";
	src: url(../fonts/nexa_bold-webfont.woff2) format("woff2");
}
/*------------------------------------------------ Generelt ------------------------------------------------*/
#screen {
	margin: 0;
	padding: 0;
	position: relative;
	width: 100vw;
	height: 56.25vw;
	overflow: hidden;
	margin-bottom: 10vw;
}
#game {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
}
/*------------------------------------------------ Start Skærm ------------------------------------------------*/
#start {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url("../assets/screens/bg_lys.svg");
	background-size: cover;
	z-index: 210;
}
#halo {
	position: absolute;
	width: 20vw;
	height: 5vw;
	top: 5vw;
	left: 50%;
	background: url("../assets/screens/halo.svg");
	background-size: cover;
	z-index: 201;
}
#captura {
	position: absolute;
	transform: translate(-50%, -50%) scale(0);
	width: 84vw;
	height: 20vw;
	top: 20vw;
	left: 50%;
	background: url("../assets/screens/captura_cervisiam.svg");
	background-size: cover;
	z-index: 201;
	filter: drop-shadow(0 1.5vw 1vw rgba(0, 0, 0, 0.548));
}
#start_btn {
	position: absolute;
	width: 25vw;
	height: 11vw;
	top: 38vw;
	left: 37vw;
	background: url("../assets/knapper/start_knap.svg");
	background-size: cover;
	z-index: 201;
	filter: drop-shadow(0 1.5vw 1vw rgba(0, 0, 0, 0.548));
}
#start_figur {
	position: absolute;
	width: 18vw;
	height: 20.7vw;
	top: 31vw;
	left: 70vw;
	background: url("../assets/figure/figur_hopla.svg");
	background-size: cover;
	z-index: 201;
}

/*------------------------------------------------ Info Skærm ------------------------------------------------*/
#info_screen {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url("../assets/screens/spil_baggrund.svg");
	background-size: cover;
	z-index: 200;
}
#info_box {
	position: absolute;
	width: 90vw;
	height: 48vw;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: url("../assets/ui_elementer/info_screen.svg");
	background-size: cover;
	z-index: 201;
	filter: drop-shadow(0 1.5vw 1vw rgba(0, 0, 0, 0.548));
}
#play_btn {
	position: absolute;
	width: 10vw;
	height: 10vw;
	top: 48vw;
	left: 50%;
	transform: translate(-50%, -50%);
	background: url("../assets/knapper/play_knap.svg");
	background-size: cover;
	z-index: 201;
	filter: drop-shadow(0 1.5vw 1vw rgba(0, 0, 0, 0.548));
	transition: all 0.5s;
}

#play_btn:hover {
	transform: translate(-50%, -50%) scale(1.05);
	filter: drop-shadow(0 1.5vw 1.5vw rgba(0, 0, 0, 0.548));
}

#play_btn:active {
	transform: translate(-50%, -50%) scale(1);
	filter: drop-shadow(0 1.5vw 1vw rgba(0, 0, 0, 0.548));
}

/*------------------------------------------------ Taxa Game Over ------------------------------------------------*/

#game_over_taxa {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url("../assets/screens/game_over_taxa_bg.svg");
	background-size: cover;
	z-index: 200;
	display: none;
}
#taxa_game_over {
	position: absolute;
	width: 70vw;
	height: 12vw;
	top: 8vw;
	left: 14vw;
	background: url("../assets/screens/game_over.svg");
	background-size: cover;
	z-index: 201;
	filter: drop-shadow(0 1.5vw 1vw rgba(0, 0, 0, 0.548));
}
#taxa_bil {
	position: absolute;
	width: 50vw;
	height: 18.25vw;
	top: 27vw;
	left: 22vw;
	background: url("../assets/screens/taxa.svg");
	background-size: cover;
	z-index: 200;
}
#game_over_replay {
	position: absolute;
	width: 10vw;
	height: 10vw;
	top: 48vw;
	left: 42vw;
	transform: translate(-50%, -50%);
	background: url("../assets/knapper/retry_grey.svg");
	background-size: cover;
	z-index: 201;
	filter: drop-shadow(0 1.5vw 1vw rgba(0, 0, 0, 0.548));

	transition: all 0.5s;
}
#game_over_home {
	position: absolute;
	width: 10vw;
	height: 10vw;
	top: 48vw;
	left: 56%;
	transform: translate(-50%, -50%);
	background: url("../assets/knapper/hjem_grey.svg");
	background-size: cover;
	z-index: 201;
	filter: drop-shadow(0 1.5vw 1vw rgba(0, 0, 0, 0.548));

	transition: all 0.5s;
}

#game_over_replay:hover,
#game_over_home:hover {
	transform: translate(-50%, -50%) scale(1.05);
	filter: drop-shadow(0 1.5vw 1.5vw rgba(0, 0, 0, 0.548));
}

#game_over_replay:active,
#game_over_home:active {
	transform: translate(-50%, -50%) scale(1);
	filter: drop-shadow(0 1.5vw 1vw rgba(0, 0, 0, 0.548));
}

/*------------------------------------------------ Game Over ------------------------------------------------*/
#game_over {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url("../assets/screens/game_over_bg.svg");
	background-size: cover;
	z-index: 201;
	display: none;
}
#game_over_alm {
	position: absolute;
	width: 70vw;
	height: 12vw;
	top: 5vw;
	left: 14vw;
	background: url("../assets/screens/game_over.svg");
	background-size: cover;
	z-index: 201;
	filter: drop-shadow(0 1.5vw 1vw rgba(0, 0, 0, 0.548));
}
#game_over_replay_alm {
	position: absolute;
	width: 10vw;
	height: 10vw;
	top: 48vw;
	left: 42vw;
	transform: translate(-50%, -50%);
	background: url("../assets/knapper/retry_grey.svg");
	background-size: cover;
	z-index: 201;
	filter: drop-shadow(0 1.5vw 1vw rgba(0, 0, 0, 0.548));

	transition: all 0.5s;
}
#game_over_home_alm {
	position: absolute;
	width: 10vw;
	height: 10vw;
	top: 48vw;
	left: 56%;
	transform: translate(-50%, -50%);
	background: url("../assets/knapper/hjem_grey.svg");
	background-size: cover;
	z-index: 201;
	filter: drop-shadow(0 1.5vw 1vw rgba(0, 0, 0, 0.548));

	transition: all 0.5s;
}

#game_over_replay_alm:hover,
#game_over_home_alm:hover {
	transform: translate(-50%, -50%) scale(1.05);
	filter: drop-shadow(0 1.5vw 1.5vw rgba(0, 0, 0, 0.548));
}

#game_over_replay_alm:active,
#game_over_home_alm:active {
	transform: translate(-50%, -50%) scale(1);
	filter: drop-shadow(0 1.5vw 1vw rgba(0, 0, 0, 0.548));
}

/*------------------------------------------------ Level Complete ------------------------------------------------*/
#level_complete {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url("../assets/screens/bg_lys.svg");
	background-size: cover;
	z-index: 201;
	display: none;
}
#level_complete_txt {
	position: absolute;
	width: 70vw;
	height: 16.1vw;
	top: 1vw;
	left: 14vw;
	background: url("../assets/screens/level_complete.svg");
	background-size: cover;
	z-index: 199;
	filter: drop-shadow(0 1.5vw 1vw rgba(0, 0, 0, 0.548));
}
#txt {
	position: absolute;
	width: 40vw;
	height: 19.7vw;
	top: 19vw;
	left: 29.9vw;
	background: url("../assets/screens/tillykke_box.svg");
	background-size: cover;
	z-index: 201;
}
#beer_left {
	position: absolute;
	width: 8vw;
	height: 17.6vw;
	top: 19vw;
	left: 24vw;
	background: url("../assets/screens/beer_left.svg");
	background-size: cover;
	z-index: 200;
	filter: drop-shadow(0 1.5vw 1vw rgba(0, 0, 0, 0.548));
}
#beer_right {
	position: absolute;
	width: 8vw;
	height: 17.6vw;
	top: 19vw;
	left: 68vw;
	background: url("../assets/screens/beer_right.svg");
	background-size: cover;
	z-index: 200;
	filter: drop-shadow(0 1.5vw 1vw rgba(0, 0, 0, 0.548));
}
#firework1 {
	position: absolute;
	width: 20vw;
	height: 20vw;
	top: 12vw;
	left: 22vw;
	background: url("../assets/screens/firework_1.svg");
	background-size: cover;
	z-index: 199;
	filter: drop-shadow(0 1.5vw 1vw rgba(0, 0, 0, 0.548));
}
#firework2 {
	position: absolute;
	width: 25vw;
	height: 25vw;
	top: 9vw;
	left: 37vw;
	background: url("../assets/screens/firework_2.svg");
	background-size: cover;
	z-index: 199;
	filter: drop-shadow(0 1.5vw 1vw rgba(0, 0, 0, 0.548));
}
#firework3 {
	position: absolute;
	width: 20vw;
	height: 20vw;
	top: 12vw;
	left: 58vw;
	background: url("../assets/screens/firework_1.svg");
	background-size: cover;
	z-index: 199;
	filter: drop-shadow(0 1.5vw 1vw rgba(0, 0, 0, 0.548));
}
#dannebrog {
	position: absolute;
	width: 40vw;
	height: 6.7vw;
	top: 36.5vw;
	left: 29.5vw;
	background: url("../assets/screens/dannebrog_1.svg");
	background-size: cover;
	z-index: 202;
	filter: drop-shadow(0 1.5vw 1vw rgba(0, 0, 0, 0.548));
}
#figur_1 {
	position: absolute;
	width: 22vw;
	height: 25.3vw;
	top: 27vw;
	left: 9vw;
	background: url("../assets/figure/figur_hopla_spejlet.svg");
	background-size: cover;
	z-index: 200;
	transform: scaleX(-1);
	filter: drop-shadow(0 1.5vw 1vw rgba(0, 0, 0, 0.548));
}
#figur_2 {
	position: absolute;
	width: 22vw;
	height: 25.3vw;
	top: 27vw;
	left: 69vw;
	background: url("../assets/figure/figur_hopla.svg");
	background-size: cover;
	z-index: 200;
	filter: drop-shadow(0 1.5vw 1vw rgba(0, 0, 0, 0.548));
}
#replay {
	position: absolute;
	width: 10vw;
	height: 10vw;
	top: 48vw;
	left: 44vw;
	transform: translate(-50%, -50%);
	background: url("../assets/knapper/retry_lys.svg");
	background-size: cover;
	z-index: 201;
	filter: drop-shadow(0 1.5vw 1vw rgba(0, 0, 0, 0.548));

	transition: all 0.5s;
}
#home {
	position: absolute;
	width: 10vw;
	height: 10vw;
	top: 48vw;
	left: 56%;
	transform: translate(-50%, -50%);
	background: url("../assets/knapper/hjem_lys.svg");
	background-size: cover;
	z-index: 201;
	filter: drop-shadow(0 1.5vw 1vw rgba(0, 0, 0, 0.548));

	transition: all 0.5s;
}

#replay:hover,
#home:hover {
	transform: translate(-50%, -50%) scale(1.05);
	filter: drop-shadow(0 1.5vw 1.5vw rgba(0, 0, 0, 0.548));
}

#replay:active,
#home:active {
	transform: translate(-50%, -50%) scale(1);
	filter: drop-shadow(0 1.5vw 1vw rgba(0, 0, 0, 0.548));
}
/*------------------------------------------------ Baggrund ------------------------------------------------*/
#game_background {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: url("../assets/screens/spil_baggrund.svg");
	background-size: cover;
}

#blur_box {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 110;
}
.blur1 {
	filter: blur(3px);
}
.blur2 {
	filter: blur(6px);
}
.blur3 {
	filter: blur(9px);
}

#game_elements {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#game_ui {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	z-index: 110;
}

/*------------------------------------------------ Spil Elementer ------------------------------------------------*/

#mand_container_1 {
	position: absolute;
	top: 30vw;
	left: 5vw;
	z-index: 100;
}
#mand_sprite_1 {
	/* ratio 4:5 */
	background-image: url("../assets/figure/ensemble_mand.svg");
	width: 6vw;
	height: 24.25vw;
	background-size: cover;
	z-index: 5;
}

#kvinde_container_1 {
	position: absolute;
	left: 14vw;
	top: 20vw;
	z-index: 90;
}
#kvinde_sprite_1 {
	/* ratio 24:97 */
	background-image: url("../assets/figure/ensemble_kvinde.svg");
	width: 6vw;
	height: 24.25vw;
	background-size: cover;
}

#kvinde_container_2 {
	position: absolute;
	left: 24vw;
	top: 25vw;
	z-index: 80;
}
#kvinde_sprite_2 {
	/* ratio 24:97 */
	background-image: url("../assets/figure/ensemble_kvinde.svg");
	width: 6vw;
	height: 24.25vw;
	background-size: cover;
}

#skaldet_container_1 {
	position: absolute;
	top: 30vw;
	left: 33vw;
	z-index: 70;
}
#skaldet_sprite_1 {
	/* ratio 7:8 */
	background-image: url("../assets/figure/ensemble_skaldet.svg");
	width: 6vw;
	height: 24.25vw;
	background-size: cover;
}

#kvinde_container_3 {
	position: absolute;
	left: 40vw;
	top: 16vw;
	z-index: 60;
}
#kvinde_sprite_3 {
	/* ratio 24:97 */
	background-image: url("../assets/figure/ensemble_kvinde.svg");
	width: 6vw;
	height: 24.25vw;
	background-size: cover;
}

#mand_container_2 {
	position: absolute;
	top: 35vw;
	left: 50vw;
	z-index: 50;
}
#mand_sprite_2 {
	/* ratio 4:5 */
	background-image: url("../assets/figure/ensemble_mand.svg");
	width: 6vw;
	height: 24.25vw;
	background-size: cover;
	z-index: 5;
}

#mand_container_3 {
	position: absolute;
	top: 20vw;
	left: 57vw;
	z-index: 40;
}
#mand_sprite_3 {
	/* ratio 4:5 */
	background-image: url("../assets/figure/ensemble_mand.svg");
	width: 6vw;
	height: 24.25vw;
	background-size: cover;
	z-index: 5;
}

#skaldet_container_2 {
	position: absolute;
	top: 28vw;
	left: 70vw;
	z-index: 30;
}
#skaldet_sprite_2 {
	/* ratio 7:8 */
	background-image: url("../assets/figure/ensemble_skaldet.svg");
	width: 6vw;
	height: 24.25vw;
	background-size: cover;
}

#kvinde_container_4 {
	position: absolute;
	left: 77vw;
	top: 22vw;
	z-index: 20;
}
#kvinde_sprite_4 {
	/* ratio 24:97 */
	background-image: url("../assets/figure/ensemble_kvinde.svg");
	width: 6vw;
	height: 24.25vw;
	background-size: cover;
}

#skaldet_container_3 {
	position: absolute;
	top: 30vw;
	left: 85vw;
	z-index: 10;
}
#skaldet_sprite_3 {
	/* ratio 7:8 */
	background-image: url("../assets/figure/ensemble_skaldet.svg");
	width: 6vw;
	height: 24.25vw;
	background-size: cover;
}

/*------------------------------------------------ Trykke Elementer ------------------------------------------------*/
#beer_container1 {
	position: absolute;
	transform-origin: 0 0;
	opacity: 0;
}
#beer_sprite1 {
	/* ratio 9:7 */
	background-image: url("../assets/ui_elementer/arm_beer.svg");
	width: 7.7vw;
	height: 6vw;
	background-size: cover;
}
#beer_container2 {
	position: absolute;
	transform-origin: 0 0;
	opacity: 0;
}
#beer_sprite2 {
	/* ratio 9:7 */
	background-image: url("../assets/ui_elementer/arm_beer.svg");
	width: 7.7vw;
	height: 6vw;
	background-size: cover;
}

#sidevogn_container1 {
	position: absolute;
	transform-origin: 0 0;
	opacity: 0;
}
#sidevogn_sprite1 {
	/* ratio 9:7 */
	background-image: url("../assets/ui_elementer/arm_beer_sidevogn.svg");
	width: 7.7vw;
	height: 6vw;
	background-size: cover;
}

#telefon_container1 {
	position: absolute;
	transform-origin: 0 0;
	opacity: 0;
}
#telefon_sprite1 {
	/* ratio 9:7 */
	background-image: url("../assets/ui_elementer/arm_telefon.svg");
	width: 7.7vw;
	height: 6vw;
	background-size: cover;
}
#telefon_container2 {
	position: absolute;
	transform-origin: 0 0;
	opacity: 0;
}
#telefon_sprite2 {
	/* ratio 9:7 */
	background-image: url("../assets/ui_elementer/arm_telefon.svg");
	width: 7.7vw;
	height: 6vw;
	background-size: cover;
}

#vand_container1 {
	position: absolute;
	transform-origin: 0 0;
	opacity: 0;
}
#vand_sprite2 {
	/* ratio 9:7 */
	background-image: url("../assets/ui_elementer/arm_vand.svg");
	width: 7.7vw;
	height: 6vw;
	background-size: cover;
}

#vand_container2 {
	position: absolute;
	transform-origin: 0 0;
	opacity: 0;
}
#vand_sprite1 {
	/* ratio 9:7 */
	background-image: url("../assets/ui_elementer/arm_vand.svg");
	width: 7.7vw;
	height: 6vw;
	background-size: cover;
}

#vand_container3 {
	position: absolute;
	transform-origin: 0 0;
	opacity: 0;
}
#vand_sprite3 {
	/* ratio 9:7 */
	background-image: url("../assets/ui_elementer/arm_vand.svg");
	width: 7.7vw;
	height: 6vw;
	background-size: cover;
}

/*------------------------------------------------ Trykke Elementer Details------------------------------------------------*/
.delay1 {
	animation-delay: 100ms;
}
.delay2 {
	animation-delay: 200ms;
}
.delay3 {
	animation-delay: 300ms;
}
.delay4 {
	animation-delay: 400ms;
}

.speed1 {
	animation-duration: 0.5s;
}
.speed2 {
	animation-duration: 1s;
}
.speed3 {
	animation-duration: 1.5s;
}
.speed4 {
	animation-duration: 2s;
}

.pos1 {
	top: 39vw;
	left: 9vw;
	z-index: 99;
}
.pos2 {
	top: 28vw;
	left: 17.5vw;
	z-index: 89;
}
.pos3 {
	top: 33vw;
	left: 27.5vw;
	z-index: 79;
}
.pos4 {
	top: 37vw;
	left: 37vw;
	z-index: 69;
}
.pos5 {
	top: 24vw;
	left: 43.5vw;
	z-index: 59;
}
.pos6 {
	top: 43vw;
	left: 54vw;
	z-index: 49;
}
.pos7 {
	top: 28vw;
	left: 61vw;
	z-index: 39;
}
.pos8 {
	top: 35vw;
	left: 74vw;
	z-index: 29;
}
.pos9 {
	top: 29.5vw;
	left: 80.5vw;
	z-index: 19;
}
.pos10 {
	top: 37vw;
	left: 89vw;
	z-index: 9;
}
.pause {
	animation-play-state: paused;
}

/* UI Element - Barometer */
.barometer1 {
	background-image: url("../assets/ui_elementer/barometer/barometer_1.svg");
}
.barometer2 {
	background-image: url("../assets/ui_elementer/barometer/barometer_2.svg");
}
.barometer3 {
	background-image: url("../assets/ui_elementer/barometer/barometer_3.svg");
}
.barometer4 {
	background-image: url("../assets/ui_elementer/barometer/barometer_4.svg");
}
.barometer5 {
	background-image: url("../assets/ui_elementer/barometer/barometer_5.svg");
}
.barometer6 {
	background-image: url("../assets/ui_elementer/barometer/barometer_6.svg");
}
.barometer7 {
	background-image: url("../assets/ui_elementer/barometer/barometer_7.svg");
}
.barometer8 {
	background-image: url("../assets/ui_elementer/barometer/barometer_8.svg");
}
.barometer9 {
	background-image: url("../assets/ui_elementer/barometer/barometer_9.svg");
}
.barometer10 {
	background-image: url("../assets/ui_elementer/barometer/barometer_10.svg");
}
/* UI Elementer */

#energy_board_count {
	/* ratio 53:173 */
	width: 100%;
	height: 100%;
	position: absolute;

	font-family: Nexa-Bold, sans-serif;
	font-size: 2vw;
	text-align: center;
	padding-top: 2.3vw;
}
#energy_board {
	/* ratio 53:173 */
	width: 6vw;
	height: 19.56vw;
	background-size: cover;

	position: absolute;
	top: 14vw;
	left: 90.3vw;
}
#mood_board {
	/* ratio 93:176 */

	width: 11vw;
	height: 20.81vw;
	background-size: cover;

	position: absolute;
	top: 1vw;
	left: 2vw;
}
.face1 {
	background-image: url("../assets/figure/hoved_1.svg");
}
.face2 {
	background-image: url("../assets/figure/hoved_2.svg");
}
.face3 {
	background-image: url("../assets/figure/hoved_3.svg");
}

/* UI Element - Timer */
#time_board {
	/* ratio 53:173 */
	background-image: url("../assets/ui_elementer/ur.svg");
	width: 10vw;
	height: 10vw;
	background-size: cover;

	position: absolute;
	top: 1vw;
	left: 88vw;
}
#viser {
	/* ratio 53:173 */
	background-color: red;
	width: 0.5vw;
	height: 3.5vw;
	background-size: cover;
	border-radius: 999px;

	position: absolute;
	top: 1.55vw;
	left: 4.8vw;
	z-index: 10;
	transform-origin: 50% 100%;
}

.hide {
	display: none;
}
.reverse {
	animation-direction: reverse;
}

#game_over_taxa.unhide {
	display: block;
}
#game_over.unhide {
	display: block;
}
#level_complete.unhide {
	display: block;
}
#info_screen.unhide {
	display: block;
}

/* UI Element - Mute knap */
#mute_knap {
	position: absolute;
	width: 7vw;
	height: 7vw;

	transform: translate(-50%, -50%);
	background-size: cover;
	z-index: 1000;
}
.muted {
	background-image: url("../assets/ui_elementer/mute_knap_muted.svg");
	top: 53vw;
	left: 3vw;
}
.unmuted {
	background-image: url("../assets/ui_elementer/mute_knap.svg");
	top: 53vw;
	left: 4vw;
}
