/** @format */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: "Nexa-Bold";
	src: url(../fonts/nexa_bold-webfont.woff2) format("woff2");
}
/*------------------------------------------------ Generelt ------------------------------------------------*/
#screen {
	margin: 0;
	padding: 0;
	position: relative;
	width: 100vw;
	height: 56.25vw;
	overflow: hidden;
}

#game {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
}

#start {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
}

#game_over {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
}

#level_complete {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
}

#game_background {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: url("../assets/screens/spil_baggrund.svg");
	background-size: cover;
}

#blur_box {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 110;
}
.blur1 {
	filter: blur(2px);
}
.blur2 {
	filter: blur(3px);
}
.blur3 {
	filter: blur(6px);
}

#game_elements {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#game_ui {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	z-index: 110;
}

/*------------------------------------------------ Spil Elementer ------------------------------------------------*/

#mand_container_1 {
	position: absolute;
	top: 30vw;
	left: 5vw;
	z-index: 100;
}
#mand_sprite_1 {
	/* ratio 4:5 */
	background-image: url("../assets/figure/ensemble_mand.svg");
	width: 6vw;
	height: 24.25vw;
	background-size: cover;
	z-index: 5;
}

#kvinde_container_1 {
	position: absolute;
	left: 14vw;
	top: 20vw;
	z-index: 90;
}
#kvinde_sprite_1 {
	/* ratio 24:97 */
	background-image: url("../assets/figure/ensemble_kvinde.svg");
	width: 6vw;
	height: 24.25vw;
	background-size: cover;
}

#kvinde_container_2 {
	position: absolute;
	left: 24vw;
	top: 25vw;
	z-index: 80;
}
#kvinde_sprite_2 {
	/* ratio 24:97 */
	background-image: url("../assets/figure/ensemble_kvinde.svg");
	width: 6vw;
	height: 24.25vw;
	background-size: cover;
}

#skaldet_container_1 {
	position: absolute;
	top: 30vw;
	left: 33vw;
	z-index: 70;
}
#skaldet_sprite_1 {
	/* ratio 7:8 */
	background-image: url("../assets/figure/ensemble_skaldet.svg");
	width: 6vw;
	height: 24.25vw;
	background-size: cover;
}

#kvinde_container_3 {
	position: absolute;
	left: 40vw;
	top: 16vw;
	z-index: 60;
}
#kvinde_sprite_3 {
	/* ratio 24:97 */
	background-image: url("../assets/figure/ensemble_kvinde.svg");
	width: 6vw;
	height: 24.25vw;
	background-size: cover;
}

#mand_container_2 {
	position: absolute;
	top: 35vw;
	left: 50vw;
	z-index: 50;
}
#mand_sprite_2 {
	/* ratio 4:5 */
	background-image: url("../assets/figure/ensemble_mand.svg");
	width: 6vw;
	height: 24.25vw;
	background-size: cover;
	z-index: 5;
}

#mand_container_3 {
	position: absolute;
	top: 20vw;
	left: 57vw;
	z-index: 40;
}
#mand_sprite_3 {
	/* ratio 4:5 */
	background-image: url("../assets/figure/ensemble_mand.svg");
	width: 6vw;
	height: 24.25vw;
	background-size: cover;
	z-index: 5;
}

#skaldet_container_2 {
	position: absolute;
	top: 28vw;
	left: 70vw;
	z-index: 30;
}
#skaldet_sprite_2 {
	/* ratio 7:8 */
	background-image: url("../assets/figure/ensemble_skaldet.svg");
	width: 6vw;
	height: 24.25vw;
	background-size: cover;
}

#kvinde_container_4 {
	position: absolute;
	left: 77vw;
	top: 22vw;
	z-index: 20;
}
#kvinde_sprite_4 {
	/* ratio 24:97 */
	background-image: url("../assets/figure/ensemble_kvinde.svg");
	width: 6vw;
	height: 24.25vw;
	background-size: cover;
}

#skaldet_container_3 {
	position: absolute;
	top: 30vw;
	left: 85vw;
	z-index: 10;
}
#skaldet_sprite_3 {
	/* ratio 7:8 */
	background-image: url("../assets/figure/ensemble_skaldet.svg");
	width: 6vw;
	height: 24.25vw;
	background-size: cover;
}

/*------------------------------------------------ Trykke Elementer ------------------------------------------------*/
#beer_container1 {
	position: absolute;
	transform-origin: 0 0;
	opacity: 0;
}
#beer_sprite1 {
	/* ratio 9:7 */
	background-image: url("../assets/ui_elementer/arm_fadøl.svg");
	width: 7.7vw;
	height: 6vw;
	background-size: cover;
}
#beer_container2 {
	position: absolute;
	transform-origin: 0 0;
	opacity: 0;
}
#beer_sprite2 {
	/* ratio 9:7 */
	background-image: url("../assets/ui_elementer/arm_fadøl.svg");
	width: 7.7vw;
	height: 6vw;
	background-size: cover;
}
#beer_container3 {
	position: absolute;
	transform-origin: 0 0;
	opacity: 0;
}
#beer_sprite3 {
	/* ratio 9:7 */
	background-image: url("../assets/ui_elementer/arm_fadøl.svg");
	width: 7.7vw;
	height: 6vw;
	background-size: cover;
}

#sidevogn_container1 {
	position: absolute;
	transform-origin: 0 0;
	opacity: 0;
}
#sidevogn_sprite1 {
	/* ratio 9:7 */
	background-image: url("../assets/ui_elementer/arm_fadøl_sidevogn.svg");
	width: 7.7vw;
	height: 6vw;
	background-size: cover;
}
#sidevogn_container2 {
	position: absolute;
	transform-origin: 0 0;
	opacity: 0;
}
#sidevogn_sprite2 {
	/* ratio 9:7 */
	background-image: url("../assets/ui_elementer/arm_fadøl_sidevogn.svg");
	width: 7.7vw;
	height: 6vw;
	background-size: cover;
}

#telefon_container1 {
	position: absolute;
	transform-origin: 0 0;
	opacity: 0;
}
#telefon_sprite1 {
	/* ratio 9:7 */
	background-image: url("../assets/ui_elementer/arm_telefon.svg");
	width: 7.7vw;
	height: 6vw;
	background-size: cover;
}
#telefon_container2 {
	position: absolute;
	transform-origin: 0 0;
	opacity: 0;
}
#telefon_sprite2 {
	/* ratio 9:7 */
	background-image: url("../assets/ui_elementer/arm_telefon.svg");
	width: 7.7vw;
	height: 6vw;
	background-size: cover;
}

#vand_container1 {
	position: absolute;
	transform-origin: 0 0;
	opacity: 0;
}
#vand_sprite2 {
	/* ratio 9:7 */
	background-image: url("../assets/ui_elementer/arm_vand.svg");
	width: 7.7vw;
	height: 6vw;
	background-size: cover;
}

#vand_container2 {
	position: absolute;
	transform-origin: 0 0;
	opacity: 0;
}
#vand_sprite1 {
	/* ratio 9:7 */
	background-image: url("../assets/ui_elementer/arm_vand.svg");
	width: 7.7vw;
	height: 6vw;
	background-size: cover;
}

#vand_container3 {
	position: absolute;
	transform-origin: 0 0;
	opacity: 0;
}
#vand_sprite3 {
	/* ratio 9:7 */
	background-image: url("../assets/ui_elementer/arm_vand.svg");
	width: 7.7vw;
	height: 6vw;
	background-size: cover;
}

/*------------------------------------------------ Trykke Elementer Details------------------------------------------------*/
.delay1 {
	animation-delay: 100ms;
}
.delay2 {
	animation-delay: 200ms;
}
.delay3 {
	animation-delay: 300ms;
}
.delay4 {
	animation-delay: 400ms;
}

.speed1 {
	animation-duration: 1s;
}
.speed2 {
	animation-duration: 1.5s;
}
.speed3 {
	animation-duration: 2s;
}
.speed4 {
	animation-duration: 2.5s;
}

.pos1 {
	top: 39vw;
	left: 9vw;
	z-index: 99;
}
.pos2 {
	top: 28vw;
	left: 17.5vw;
	z-index: 89;
}
.pos3 {
	top: 33vw;
	left: 27.5vw;
	z-index: 79;
}
.pos4 {
	top: 37vw;
	left: 37vw;
	z-index: 69;
}
.pos5 {
	top: 24vw;
	left: 43.5vw;
	z-index: 59;
}
.pos6 {
	top: 43vw;
	left: 54vw;
	z-index: 49;
}
.pos7 {
	top: 28vw;
	left: 61vw;
	z-index: 39;
}
.pos8 {
	top: 35vw;
	left: 74vw;
	z-index: 29;
}
.pos9 {
	top: 29.5vw;
	left: 80.5vw;
	z-index: 19;
}
.pos10 {
	top: 37vw;
	left: 89vw;
	z-index: 9;
}

.pause {
	animation-play-state: paused;
}

/* UI Element - Barometer */
.barometer1 {
	background-image: url("../assets/ui_elementer/barometer/barometer_1.svg");
}
.barometer2 {
	background-image: url("../assets/ui_elementer/barometer/barometer_2.svg");
}
.barometer3 {
	background-image: url("../assets/ui_elementer/barometer/barometer_3.svg");
}
.barometer4 {
	background-image: url("../assets/ui_elementer/barometer/barometer_4.svg");
}
.barometer5 {
	background-image: url("../assets/ui_elementer/barometer/barometer_5.svg");
}
.barometer6 {
	background-image: url("../assets/ui_elementer/barometer/barometer_6.svg");
}
.barometer7 {
	background-image: url("../assets/ui_elementer/barometer/barometer_7.svg");
}
.barometer8 {
	background-image: url("../assets/ui_elementer/barometer/barometer_8.svg");
}
.barometer9 {
	background-image: url("../assets/ui_elementer/barometer/barometer_9.svg");
}
.barometer10 {
	background-image: url("../assets/ui_elementer/barometer/barometer_10.svg");
}
/* UI Elementer */

#energy_board_count {
	/* ratio 53:173 */
	width: 100%;
	height: 100%;
	position: absolute;

	font-family: Nexa-Bold, sans-serif;
	font-size: 2vw;
	text-align: center;
	padding-top: 3.5rem;
}
#energy_board {
	/* ratio 53:173 */
	background-image: url("../assets/ui_elementer/barometer/barometer_1.svg");
	width: 6vw;
	height: 19.56vw;
	background-size: cover;

	position: absolute;
	top: 14vw;
	left: 90.3vw;
}
#mood_board {
	/* ratio 93:176 */

	width: 11vw;
	height: 20.81vw;
	background-size: cover;

	position: absolute;
	top: 1vw;
	left: 2vw;
}
.face1 {
	background-image: url("../assets/figure/hoved_1.svg");
}
.face2 {
	background-image: url("../assets/figure/hoved_2.svg");
}
.face3 {
	background-image: url("../assets/figure/hoved_3.svg");
}

/* UI Element - Timer */
#time_board {
	/* ratio 53:173 */
	background-image: url("../assets/ui_elementer/ur.svg");
	width: 10vw;
	height: 10vw;
	background-size: cover;

	position: absolute;
	top: 1vw;
	left: 88vw;
}
#viser {
	/* ratio 53:173 */
	background-color: red;
	width: 0.5vw;
	height: 3.5vw;
	background-size: cover;
	border-radius: 999px;

	position: absolute;
	top: 1.55vw;
	left: 4.8vw;
	z-index: 10;
	transform-origin: 50% 100%;
}
